n8n/workflows/error-notification.json
{
  "name": "Error Notification Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "workflowName",
              "value": "={{ $node[\"Error Trigger\"].json[\"workflow\"][\"name\"] }}"
            },
            {
              "name": "workflowId",
              "value": "={{ $node[\"Error Trigger\"].json[\"workflow\"][\"id\"] }}"
            },
            {
              "name": "executionId",
              "value": "={{ $node[\"Error Trigger\"].json[\"execution\"][\"id\"] }}"
            },
            {
              "name": "executionUrl",
              "value": "={{ $node[\"Error Trigger\"].json[\"execution\"][\"url\"] }}"
            },
            {
              "name": "errorMessage",
              "value": "={{ $node[\"Error Trigger\"].json[\"execution\"][\"lastNodeExecuted\"] }}"
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "name": "severity",
              "value": "HIGH"
            }
          ]
        },
        "options": {}
      },
      "id": "format-error-data",
      "name": "Format Error Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "channel": {
          "__rl": true,
          "value": "general",
          "mode": "name"
        },
        "text": "🚨 *Workflow Error Alert*\n\n*Workflow:* {{ $json.workflowName }}\n*Execution ID:* {{ $json.executionId }}\n*Error:* {{ $json.errorMessage }}\n*Time:* {{ $json.timestamp }}\n\n*View Details:* {{ $json.executionUrl }}",
        "otherOptions": {}
      },
      "id": "slack-notification",
      "name": "Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        740,
        200
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "sendTo": "{{ $vars.ADMIN_EMAIL }}",
        "subject": "🚨 n8n Workflow Error: {{ $json.workflowName }}",
        "emailType": "html",
        "message": "<h2>Workflow Error Alert</h2>\n<p><strong>Workflow:</strong> {{ $json.workflowName }}</p>\n<p><strong>Execution ID:</strong> {{ $json.executionId }}</p>\n<p><strong>Error:</strong> {{ $json.errorMessage }}</p>\n<p><strong>Time:</strong> {{ $json.timestamp }}</p>\n<p><strong>Severity:</strong> {{ $json.severity }}</p>\n<br>\n<p><a href=\"{{ $json.executionUrl }}\">View Error Details</a></p>",
        "options": {}
      },
      "id": "email-notification",
      "name": "Email Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        740,
        400
      ],
      "alwaysOutputData": true
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Format Error Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Data": {
      "main": [
        [
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "error-notification",
  "tags": [
    {
      "createdAt": "2025-06-23T21:30:00.000Z",
      "updatedAt": "2025-06-23T21:30:00.000Z",
      "id": "error-handling",
      "name": "error-handling"
    }
  ]
}